<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/css/mdb.min.css" rel="stylesheet">
        <!-- Free CDN of Tiny Cloud -->
        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
      <!--Navbar -->
      <nav class="mb-1 navbar navbar-expand-lg navbar-dark black lighten-1">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ path('home')}}">Home
                    <span class="sr-only">(current)</span>
                  </a>
                <li class="nav-item">
                <a class="nav-link" href="{{ path('blog') }}">Articles</a>
                </li>
                {% if not app.user %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('security_registration') }}">Inscription</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('blog_create') }}">Créer un Article</a>
                  </li>
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item avatar">
                  <a class="nav-link p-0" href="#">
                    <img src="{{asset("uploads/pictures/")}}{{app.user.picture}}" class="rounded-circle z-depth-0"
                      alt="avatar image" height="35">
                  </a>
                </li>
              </ul>
                {% endif %}
        </div>
      </nav>
      <div class="container">
        {% block body %}{% endblock %}
      </div>
      <script>
      tinymce.init({
      selector: '.tinymce'
      });
      </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
